.form
	font-family: 'Inter', sans-serif
	background-image: url('/bg1.jpg')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	width: 100vw
	height: 100vh
	font-size: 20px
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	gap: 100px
	color: white

	>div
		margin: 100px
		width: 700px
		height: 700px
		border-radius: 100%
		background: rgba(46, 28, 77, 0.13)
		backdrop-filter: blur(35px)
		box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.25)
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		transition: 1s

		>form
			display: grid
			grid-template-columns: 100%
			justify-content: center
			width: 100%
			padding-top: 100px

			.btn
				all: unset
				cursor: pointer
				width: 35%
				margin-top: 10px
				background-color: #A839FF
				color: white
				height: 65px
				font-weight: bold
				border-radius: 12px
				text-align: center
				transition: 0.5s
			
			.btn:hover
				background-color: #b961fd
				border-radius: 10px

			>div
				display: flex
				justify-content: center
				margin-bottom: 40px
				width: 100%
				
				>input
					all: unset
					width: 60%
					height: 65px
					font-size: 22px
					background-color: rgba(0, 0, 0, 0.31)
					border-radius: 19px
					color: white
					padding-left: 35px
					transition: 0.3s

				>input::placeholder
					color: #bababa
					font-size: 19px
				
				>input:focus
					background-color: rgba(0, 0, 0, 0.482)

		.errorInput
			border: darkred 1px solid

		.errorMessage
			background: blue

.animTop
	transform: translateY(-120%)
.animBottom
	transform: translateY(120%)
