.form
  width: 100vw
  height: 100vh
  background: #8389DA
  font-size: 20px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  gap: 100px



  >form,>div
    margin: 100px
    width: 50%
    height: 70vh
    border-radius: 100%
    background: #454777
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition: 1s
    opacity: 1


    input
      all: unset
      margin-bottom: 30px
      width: 40%
      height: 2%
      opacity: 80%
      padding: 20px
      font-size: 19px
      text-align: center
      background: #8C8EAC
      border-radius: 10%

    .errorInput
      border: darkred 5px solid

    .errorMessage
      background: blue

.animTop
  transform: translateY(-100%)
.animBottom
  transform: translateY(100%)
